# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv("city_data.csv")
city_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cape Town,-33.93,18.42,57.00,76,20,6.93,ZA,1597343575
1,Ossora,59.24,163.07,51.75,79,100,9.66,RU,1597343853
2,Dikson,73.51,80.55,48.70,83,100,6.26,RU,1597343854
3,George Town,5.41,100.34,77.00,94,40,4.70,MY,1597343722
4,Makkah al Mukarramah,21.43,39.83,93.47,25,54,5.12,SA,1597343620
...,...,...,...,...,...,...,...,...,...
541,Kibala,9.11,18.35,80.60,83,20,2.35,TD,1597343998
542,Karpathos,35.51,27.21,78.80,78,0,26.40,GR,1597343999
543,Krasnogorsk,55.82,37.32,59.00,87,90,8.95,RU,1597343999
544,Ebebiyin,2.15,11.34,70.05,95,100,3.51,GQ,1597343999
545,Tabou,4.42,-7.35,75.49,73,0,7.58,CI,1597344000

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight
locations = city_df[["Latitude", "Longitude"]]
weight = city_df["Humidity"]

In [24]:
# Plot Heatmap
fig = gmaps.figure(center=(20.0, 5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=np.max(weight),
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the cities to fit weather conditions
narrow = city_df.loc[(city_df["Max Temp"] < 80) & (city_df["Max Temp"] > 70) & (city_df["Wind Speed"] < 10) &
                     (city_df["Cloudiness"] == 0)]
narrow

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
40,Port Keats,-14.25,129.55,72.82,92,0,3.20,AU,1597343863
58,Akdepe,42.06,59.38,78.80,34,0,9.17,TM,1597343868
91,Yangi Marg`ilon,40.43,71.72,75.20,41,0,9.17,UZ,1597343876
106,Takoradze,4.88,-1.76,75.00,77,0,9.73,GH,1597343881
126,Caravelas,-17.71,-39.25,75.90,66,0,6.82,BR,1597343777
143,Makarska,43.30,17.02,77.00,56,0,8.99,HR,1597343810
208,Katobu,-4.94,122.53,72.01,90,0,3.53,ID,1597343911
267,Ankara,39.92,32.85,77.00,38,0,8.05,TR,1597343929
283,Katherine,-14.47,132.27,75.20,57,0,6.93,AU,1597343801
315,Grand-Lahou,5.14,-5.02,74.30,83,0,8.57,CI,1597343940
366,Harper,4.38,-7.72,75.36,73,0,7.65,LR,1597343955
373,Koungou,-12.73,45.20,73.40,73,0,6.93,YT,1597343956
385,Grand Gaube,-20.01,57.66,71.01,74,0,5.01,MU,1597343960
390,Shimoda,34.67,138.95,75.00,90,0,5.23,JP,1597343961
407,Lasem,-6.69,111.45,77.31,81,0,6.17,ID,1597343965
409,Nichinan,31.60,131.37,78.96,82,0,5.97,JP,1597343966
430,Bereda,43.27,-7.54,73.00,61,0,7.00,ES,1597343971
431,Lata,40.16,-8.33,73.99,67,0,8.01,PT,1597343971
438,Desa,43.87,23.03,76.89,45,0,5.79,RO,1597343973
518,Huejúcar,22.35,-103.22,76.41,47,0,6.11,MX,1597343993
545,Tabou,4.42,-7.35,75.49,73,0,7.58,CI,1597344000

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Store into variable named hotel_df
hotel_df = narrow[["City", "Country", "Latitude", "Longitude"]]

# Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                City Country  Latitude  Longitude Hotel Name
40        Port Keats      AU    -14.25     129.55
58            Akdepe      TM     42.06      59.38
91   Yangi Marg`ilon      UZ     40.43      71.72
106        Takoradze      GH      4.88      -1.76
126        Caravelas      BR    -17.71     -39.25
143         Makarska      HR     43.30      17.02
208           Katobu      ID     -4.94     122.53
267           Ankara      TR     39.92      32.85
283        Katherine      AU    -14.47     132.27
315      Grand-Lahou      CI      5.14      -5.02
366           Harper      LR      4.38      -7.72
373          Koungou      YT    -12.73      45.20
385      Grand Gaube      MU    -20.01      57.66
390          Shimoda      JP     34.67     138.95
407            Lasem      ID     -6.69     111.45
409         Nichinan      JP     31.60     131.37
430           Bereda      ES     43.27      -7.54
431             Lata      PT     40.16      -8.33
438             Desa      RO     43.87      23.03
518         Huejúcar      MX     22.35    -103.22
545            Tabou      CI      4.42      -7.35

In [7]:
# Set parameters to search for hotels with 5000 meters
params = {
    "radius" : 5000,
    "keyword" : "hotel",
    "types": "hotel",
    "key": g_key
}

# Hit the Google Places API for each city's coordinates.
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # get cities, etc. from hotel_df
    city = row['City']
    lat = row['Latitude']
    lng = row['Longitude']

    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
#     print(json.dumps(response, indent= 4, sort_keys= True))
    
    # print the response url, avoid doing for public github repos in order to avoid exposing key
#     print(response)
    
    # extract results 
    results = response['results']
  
    try:
        print(f"Closest hotel in {city} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 40: Port Keats.
Closest hotel in Port Keats is TDC Village (Hundred Man Camp).
------------
Retrieving Results for Index 58: Akdepe.

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel in Akdepe is Мой дом.
------------
Retrieving Results for Index 91: Yangi Marg`ilon.
Closest hotel in Yangi Marg`ilon is ATLAS HOTEL.
------------
Retrieving Results for Index 106: Takoradze.
Closest hotel in Takoradze is Best Western Plus Atlantic Hotel.
------------
Retrieving Results for Index 126: Caravelas.
Closest hotel in Caravelas is Pousada Encanto Abrolhos.
------------
Retrieving Results for Index 143: Makarska.
Closest hotel in Makarska is TUI BLUE Jadran.
------------
Retrieving Results for Index 208: Katobu.
Closest hotel in Katobu is La Ode Husein.
------------
Retrieving Results for Index 267: Ankara.
Closest hotel in Ankara is JW Marriott Hotel Ankara.
------------
Retrieving Results for Index 283: Katherine.
Closest hotel in Katherine is Victoria Village.
------------
Retrieving Results for Index 315: Grand-Lahou.
Closest hotel in Grand-Lahou is Hotel Beatitude de Grand Lahou.
------------
Retrieving Results for Index 366: Harper.
Closest hotel in Harper is Grands' Guesthouse.
------------
Retrieving Results for Index 373: Koungou.
Closest hotel in Koungou is Le Lodge de l''Avocatier.
------------
Retrieving Results for Index 385: Grand Gaube.
Closest hotel in Grand Gaube is LUX Grand Gaube Resort & Villas.
------------
Retrieving Results for Index 390: Shimoda.
Closest hotel in Shimoda is Hotel Sea Shell（ホテルシーシェル）.
------------
Retrieving Results for Index 407: Lasem.
Closest hotel in Lasem is Tiongkok Kecil Heritage Lasem.
------------
Retrieving Results for Index 409: Nichinan.
Closest hotel in Nichinan is Nazuna 飫肥 城下町温泉 -小鹿倉邸-.
------------
Retrieving Results for Index 430: Bereda.
Closest hotel in Bereda is Casa Grande de Anllo.
------------
Retrieving Results for Index 431: Lata.
Missing field/result... skipping.
------------
Retrieving Results for Index 438: Desa.
Missing field/result... skipping.
------------
Retrieving Results for Index 518: Huejúcar.
Closest hotel in Huejúcar is Hotel Y Bulcanizadora San Francisco.
------------
Retrieving Results for Index 545: Tabou.
Closest hotel in Tabou is hotêl doufoulougou.
------------

In [8]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
40,Port Keats,AU,-14.25,129.55,TDC Village (Hundred Man Camp)
58,Akdepe,TM,42.06,59.38,Мой дом
91,Yangi Marg`ilon,UZ,40.43,71.72,ATLAS HOTEL
106,Takoradze,GH,4.88,-1.76,Best Western Plus Atlantic Hotel
126,Caravelas,BR,-17.71,-39.25,Pousada Encanto Abrolhos
143,Makarska,HR,43.30,17.02,TUI BLUE Jadran
208,Katobu,ID,-4.94,122.53,La Ode Husein
267,Ankara,TR,39.92,32.85,JW Marriott Hotel Ankara
283,Katherine,AU,-14.47,132.27,Victoria Village
315,Grand-Lahou,CI,5.14,-5.02,Hotel Beatitude de Grand Lahou
366,Harper,LR,4.38,-7.72,Grands' Guesthouse
373,Koungou,YT,-12.73,45.20,Le Lodge de l''Avocatier
385,Grand Gaube,MU,-20.01,57.66,LUX Grand Gaube Resort & Villas
390,Shimoda,JP,34.67,138.95,Hotel Sea Shell（ホテルシーシェル）
407,Lasem,ID,-6.69,111.45,Tiongkok Kecil Heritage Lasem
409,Nichinan,JP,31.60,131.37,Nazuna 飫肥 城下町温泉 -小鹿倉邸-
430,Bereda,ES,43.27,-7.54,Casa Grande de Anllo
431,Lata,PT,40.16,-8.33,
438,Desa,RO,43.87,23.03,
518,Huejúcar,MX,22.35,-103.22,Hotel Y Bulcanizadora San Francisco
545,Tabou,CI,4.42,-7.35,hotêl doufoulougou

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Latitude", "Longitude"]]

In [32]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(hotel_locations)

hotel_layer = gmaps.symbol_layer(
    hotel_locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info)

# Display figure
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))